$color-primary: #e9ebee;
$color-secondary: #29487d;

$color-white: #fff;
$color-light-black: #2b2b2b;

$color-grey-light-0: #f7f7f7;
$color-grey-light-1: #d5d5d5;

$color-blue-light: #1237eb;
$color-red-light-1: #f8706e;

$font-primary: "Lato", sans-serif;
