$color-primary: #a1b1ca;
$color-secondary: #29487d;
$color-blue-light-1: #3a65b0;

$color-yellow-normal: #edd022;

$color-red-light-1: #f9492c;

$color-white: #fff;
$color-light-black: #2b2b2b;

$color-grey-light-1: #d5d5d5;
$color-grey-light-2: #e6e6e6;
$color-grey-light-3: #f7f7f7;
$color-grey-light-4: #a2a2a2;
$color-grey-light-5: #dedede;

$color-blue-light: #1237eb;
$color-red-light-1: #f8706e;

$font-primary: "Lato", sans-serif;
