*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $color-primary;
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  color: #fff;

  // padding: 0 0 0 2rem;
}

.boddy > *:not(:first-child) {
  // margin: 0 0 0 2rem;
  height: 100%;
  background: $color-grey-light-1;
}

main {
  display: grid;
  grid-template-columns:
    [full-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end])
    [full-end];
}
