*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $color-grey-light-1;
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  color: #fff;

  // padding: 0 0 0 2rem;
}

.boddy > *:not(:first-child) {
  height: 100%;
}

// main {
//   display: grid;
//   grid-template-columns:
//     [full-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end])
//     [full-end];
//   grid-gap: 1rem;
// }
.boddy {
  display: grid;
  grid-template-columns:
    [full-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end])
    [full-end];
  grid-column-gap: 1rem;

  // @include respond(big-desktop) {
  //   // width > 1200?
  //   grid-template-columns:
  //     [full-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
  //     [full-end];
  // }
}
