*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $color-primary;
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  color: #fff;

  // padding: 0 0 0 2rem;
}

.boddy > *:not(:first-child) {
  // margin: 0 0 0 2rem;
  height: 100%;
}

// main {
//   background: red;
//   // margin: 1.5rem 0 0 2rem;
// }

.section-post {
  background: orange;
}
